<p-badge [value]="lengthCount"></p-badge>
<div class="searchBar">
  <input
    type="text"
    pInputText
    [(ngModel)]="filterText"
    placeholder="Search The User"
  />
</div>

@if (loading) {
<h1>Loading...</h1>
<div class="skeleton">
  <p-skeleton class="my" styleClass="md-2" borderRadius="16px"></p-skeleton>
  <p-skeleton
    class="my"
    width="10rem"
    styleClass="mb-2"
    borderRadius="16px"
  ></p-skeleton>
  <p-skeleton
    class="my"
    width="5rem"
    styleClass="mb-2"
    borderRadius="16px"
  ></p-skeleton>
  <p-skeleton
    class="my"
    height="2rem"
    styleClass="mb-2"
    borderRadius="16px"
  ></p-skeleton>
  <p-skeleton
    class="my"
    width="10rem"
    height="4rem"
    borderRadius="16px"
  ></p-skeleton>
</div>
} @else{

<p-table class="tbl" [value]="filteredData" [rows]="4" [paginator]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>firstName</th>
      <th>LastName</th>
      <th>Age</th>
      <th>PhoneNumber</th>
      <th>Email</th>
      <th>Gendering</th>
      <th>CheckboxValues</th>
      <th>Photos</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-userData>
    <tr>
      <td style="color: white">{{ userData.UserName }}</td>
      <td style="color: white">{{ userData.firstName }}</td>
      <td style="color: white">{{ userData.LastName }}</td>
      <td style="color: white">{{ userData.Age }}</td>
      <td style="color: white">{{ userData.PhoneNumber }}</td>
      <td style="color: white">{{ userData.Email }}</td>
      <td style="color: white">{{ userData.Gendering }}</td>
      <td style="color: white">{{ userData.CheckboxValues }}</td>
      <td style="color: white">
        <img
          src="{{ userData.File }}"
          alt="not supportd"
          height="200px"
          width="200px"
        />
      </td>
      <td>
        <button class="edit-button" routerLink="/update-data/{{ userData.id }}">
          <svg class="edit-svgIcon" viewBox="0 0 512 512">
            <path
              d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"
            ></path>
          </svg>
        </button>
      </td>
      <td>
        <button class="delete-button" (click)="deleteData(userData.id)">
          <svg class="delete-svgIcon" viewBox="0 0 448 512">
            <path
              d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
            ></path>
          </svg>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
}
