.div-main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    

    
    
}
h1{
    /* margin-bottom: 10px; */
    text-align: center;
    margin: 0;padding: 0;
    padding-top: 20px;
    
    
}
.form-main{
    width: 60%;
    height: 60%;
    border: 1px solid white;
    border-radius: 13px ;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    margin: 40px;
    padding: 50px;
}
.imag-cover{
    background-size: cover;
    background: rgba(255, 252, 252, 0.5);
    border-radius: 10px 10px 0px 0px;


}
.any{
    margin-top : 5px;
}
.head-img-box {
    margin: -50px;
    margin-bottom: 2rem;
}
